<!doctype html>
<html lang="en" data-bs-theme="dark">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Kay Ohtie's Reference Sheet{% if title %} | {{ title }}{% endif %}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      {% set css %} {% include "custom.css" %} {% endset %}
      <style>
         {{ css | cssmin | safe }}
      </style>
      {% if extraHead %}{{ extraHead | safe }}{% endif %}
   </head>
   <body>
      <nav class="navbar sticky-top bg-primary shadow-sm text-white">
         <div class="container">
            <a class="navbar-brand text-white" href="/">Kay Ohtie's Ref<span class="d-none d-md-inline">erence</span> Sheet</a>
            <div class="ms-auto d-flex align-items-center">
               <i class="fas fa-moon" aria-hidden="true"></i>
               <div class="form-check form-switch form-switch-lg mb-0 ms-2">
                  <input class="form-check-input" type="checkbox" role="switch" id="kr-theme">
                  <label class="form-check-label visually-hidden" for="kr-theme">Toggle light/dark mode</label>
                </div>
                <i class="fas fa-sun" aria-hidden="true"></i>                
            </div>
         </div>
      </nav>
      <main class="container mt-4">
         <div class="rounded-3 bg-body-tertiary shadow-sm">
            <header class="bg-primary text-white d-flex align-items-center px-3 py-2 rounded-top-3">
               <i class="fas fa-book fs-5" aria-hidden="true"></i>
               <span class="ms-2 fw-semibold">{% if title %}{{ title }}{% else %}README.md{% endif %}</span>
               {% if page.fileSlug %}<a href="/" class="ms-auto text-white"><i class="fas fa-chevron-left" aria-hidden="true"></i> Back<span class="d-none d-md-inline"> to main</span></a>{% endif %}
            </header>
            <div class="p-3 p-lg-5 kr-content">
               {{ content | safe }}
            </div>
         </div>
      </main>
      <footer class="container text-center border-top py-4 mt-4">
         <p class="mb-0">Find Kay elsewhere:</p>
         <p class="mb-2 fs-5 kr-footer-links">
            <a class="mx-2" href="https://blimps.xyz/@KayOhtie" target="_blank">
               <i class="fab fa-mastodon" aria-hidden="true"></i>
               <span class="visually-hidden">Fediverse</span>
            </a>
            <a class="mx-2" href="https://github.com/ceralor" target="_blank">
               <i class="fab fa-github" aria-hidden="true"></i>
               <span class="visually-hidden">Github</span>
            </a>
            <a class="mx-2" href="https://coyotesin.space" target="_blank">
               <i class="fas fa-globe" aria-hidden="true"></i>
               <span class="visually-hidden">Kay's Website</span>
            </a>
         </p>
         <p class="mb-0 small d-inline-block px-2 py-1 rounded border">
            Made with <abbr title="11ty + Bootstrap + Font Awesome" tabindex="0">stuff</abbr> by  
            <a href="https://walf.me" target="_blank" class="text-body" title="Mathias">a walfdog</a>
            <span class="text-pink">&#9829;</span>
         </p>
      </footer>
      <button class="btn btn-primary d-none kr-back-top">
         <i class="fas fa-arrow-up" aria-hidden="true"></i>
         <span class="visually-hidden">Back to top</span>
      </button>
      {% set js %}{% include "custom.js" %}{% endset %}
      <script>
         {{ js | jsmin | safe }}
      </script>
      {% if extraBody %}{{ extraBody | safe }}{% endif %}
   </body>
</html>
